<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<title>Homepage</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="angular.js"></script>
		<script src="script.js"></script>
	</head>
	<body ng-app="homepage" ng-controller="scriptController">
		<div id="menu">
			<div id="links">
				 <div class='type' ng-repeat="link in links">
					  <h2>{{link.name}}</h2>
					  <div class='link' ng-repeat="item in link.items">
						  <a href='{{item[1]}}'>{{item[0]}}</a>
					  </div>
				 </div>
			</div>
		</div>
	</body>
</html>
